:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    /* Typography */
    --font-family: "Outfit", sans-serif;
    --font-size-title: 1.125rem; /* 18px */
    --font-size-paragraph: 0.9375rem; /* 15px */

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --border-radius: 15px;
    --border-radius-small: 10px;

    --spacing-small: 0.5rem;
    --spacing-small-medium: 0.8rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.2rem;
}
